/*Font imports*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

@media screen and (min-width:1600px){
    p,h2, h3{
        font-family: 'Open Sans Condensed', sans-serif;
        color:white;
    }
    
    .all-width {
        width: 100.87%;
        margin-left: -.50%;
        margin-top: -2%;
    }   
    
    
    /*ABOUT ME CODE*/
    #aboutMe { /*ABOUT ME CONTENT CONTAINER*/
        background-color: black;
    }


 
    #aboutMe #description-container {
        box-sizing: border-box;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-top: 5%;
        padding-bottom:6%;
    }
    #aboutMe #description-container #title{
        font-size: 45px;
    }

    #aboutMe #description-container p {
        font-size: 30px;
    }

    /*SERVICES CODE*/

    #services { /*services container*/
        background-image: url("./Images/blue-solid-background-1080p.jpg");
        padding-bottom: 5%;
        z-index: 0;
    }

    #services #services-title {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 2%;
    }

    #services #services-title h2 {
        font-size: 45px;
    }

    /*Cards*/

    #services #services-cards-container{
        margin-left:auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        row-gap: 50%;
    }
}