/*Font imports*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


@media screen and (min-width:1600px){
    #section-title{
        background-image: url("./images/computer-high-resolution.jpg");
        width: 101.45%;
        height: 700px;
        margin-top:0%;
        margin-left:-1%;
        padding-top: 10%;
    }

    #section-title > #name-container  {
        font-size: 35px;    
        color:white;
        background-color: black;
        width: 50%;
        height: 30%;
        padding-top: 1%;
        margin-left:auto;
        margin-right:auto;
        font-family: 'Open Sans Condensed', sans-serif;
    }

    #name-container * {
        width: 30%;
        text-align: center;
        margin-left: auto;
        margin-right:auto;
        line-height: 60%;
    }
   
}